<%- include('../partials/musichead') -%> 
<%- include('../partials/nav') -%> 
    <section class="content columns">
    <h1>Music</h1>
    <h2>Check Out Some Cool Music From Our Members</h2>

    <a href="/upload" class="click-me"><h3>Add Your Own Music!</h3></a>
        <audio controls class="locked-audio" id="audioPlayer" autoplay>
            <source src="" type="audio/mpeg">
        </audio>

        <% songs.forEach(song => { %>
        
        <a class="songName" href="/music/<%= song.filename %>" name="<%= song.fileid %>">
            <div class="song" id="song2">
                <i class="fas fa-play fa-lg"></i>
                <h3><%= song.title %></h3>
                <p> ARTIST: <%= song.username %><% if (song.collaborators.length === 0) { %><% } else { %> feat.<%= song.collaborators %><% } %>
                </p>
                <p> GENRE: <%= song.genre %></p>
                <p> DESCRIPTION: <%= song.description %></p>
            </div>
        </a>
        
        <% }) %>
    
    </section>
<!-- Footer -->
<%- include('../partials/footer') -%>