<%- include('../partials/musichead') -%> 
<%- include('../partials/nav') -%> 
    <section class="content columns">
    <h1><span class="green-text"><%= genre %></span> Music</h1>
    <h2>All The <span class="green-text"><%= genre %></span> Music From Our Members</h2>

    <a href="/upload" class="click-me"><h3>Add Some <%= genre %>  Music!</h3></a>
        <audio controls class="locked-audio" id="audioPlayer" autoplay>
            <source src="" type="audio/mpeg">
        </audio>
        
        <div class="form-container">
        <form id="genre" onsubmit="urlCreate()" method="get">
            <div>
                <label for="Genre">Search By Genre: </label>
                <select name="genre" id="genre" required>
                <option value="<%= genre %> " selected><%= genre %></option>
                <option value="Blues">Blues</option>
                <option value="Classical">Classical</option>
                <option value="Country">Country</option>
                <option value="Electronic">Electronic</option>
                <option value="Hip-hop">Hip-hop</option>
                <option value="House">House</option>
                <option value="Jazz">Jazz</option>
                <option value="Pop">Pop</option>
                <option value="R&B">R&B</option>
                <option value="Reggae">Reggae</option>
                <option value="Rock">Rock</option>
                <option value="Other">Other</option>
            </select>
            <button type="submit"><i class="fas fa-search fa-lg"></i></button>
        </div>
    </div>
        </form>
        <% if (songs.length === 0) { %>
         <h3>There are currently no songs of this genre on this site. But don't worry! You can add your own music by clicking Add Your Own Music</h3>
        <% } else { %>
        <% songs.forEach(song => { %>
        
        
            <div class="song" id="song2">
                <a class="songName" href="/music/<%= song.filename %>" name="<%= song.fileid %>"><i class="fas fa-play fa-lg"></i></a>
                <a onClick="togglePlay()" style="cursor: pointer;"><i class="fas fa-stop fa-lg"></i></a>
                
                <h3><%= song.title %></h3>
                <p> ARTIST: <%= song.username %><% if (song.collaborators.length === 0) { %><% } else { %> feat.<%= song.collaborators %><% } %>
                </p>
                <p> GENRE: <span class="green-text"><%= song.genre %></span></p>
                <p> DESCRIPTION: <%= song.description %></p>
            </div>
        
        <% }) %>
        <% } %>
    
    </section>
<!-- Footer -->
<%- include('../partials/footer') -%>