<%- include('../partials/head') -%> 
<%- include('../partials/nav') -%> 

    <section class="content">

    <h1>Update This Song</h1>

    <div class="form-container">
        <form action="/<%= user.username %>/update/<%= song._id %>?_method=PUT" method="POST">
            <h1>Change It Up</h1>
            <div>
                <label for="username">Artist: </label>
                <input name="username" placeholder="username" type="text" value="<%= user.username %>" readonly required>
            </div>
            <div>
                <label for="collaborators">Featuring (optional): </label>
                <input name="collaborators" placeholder="Collaborators" type="text" value="<%= song.collaborators %>">
            </div>
            <div>
                <label for="title">Song Title: </label>
                <input name="title" placeholder="Title" type="text" value="<%= song.title %>" required>
            </div>
            <div>
                <label for="Genre">Genre: </label>
                <select name="genre" id="genre" required>
                    <option value="<%= song.genre %>" selected><%= song.genre %></option>
                    <option value="Blues">Blues</option>
                    <option value="Classical">Classical</option>
                    <option value="Country">Country</option>
                    <option value="Electronic">Electronic</option>
                    <option value="Hip-hop">Hip-hop</option>
                    <option value="House">House</option>
                    <option value="Jazz">Jazz</option>
                    <option value="Pop">Pop</option>
                    <option value="R&B">R&B</option>
                    <option value="Reggae">Reggae</option>
                    <option value="Rock">Rock</option>
                    <option value="Other">Other</option>
                    
                </select>
            </div>
            <div>
                <label for="Description">Description: </label>
                <textarea name="description" placeholder="Details about this song:" id="Description" cols="30" rows="10" required><%= song.description %></textarea>
            </div>
            <button type="submit" value="submit">Update</button>
        </form>
    </div>
    </section>
<!-- Footer -->
<%- include('../partials/footer') -%> 